@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    src: local('Open Sans Light'), local('OpenSans-Light'), url(DXI1ORHCpsQm3Vp6mXoaTaRDOzjiPcYnFooOUGCOsRk.woff) format('woff');
}
html, body, header, nav, section, footer, article, aside, figure, img, time, h1, h2, h3, p, a, ol, ul, li, dl, dd, dt, hr {
	border: 0;
	margin: 0;
	outline: 0;
	padding: 0;
}
html {
	font-family: Arial;
}
* {
    font-family: 'Open Sans';
}
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: table;
}
.logo > img {
    margin: 0 50px;
    position: absolute;
    top: 50%;
    transform: translate(0px, -51%);
}
#hiddeninfo {
    display: none;
}
.modal_confirm, #loader {
	background-color: rgba(0,0,0,0.5);
    height: 100%;
    overflow: auto;
    position: fixed;
    width: 100%;
    z-index: 3;
}
.modal_confirm > div {
    background-color: rgba(255, 255, 255, 1);
    -webkit-box-shadow: 4px 3px 6px -1px rgba(50, 50, 50, 0.7);
    -moz-box-shadow: 4px 3px 6px -1px rgba(50, 50, 50, 0.7);
    box-shadow: 4px 3px 6px -1px rgba(50, 50, 50, 0.7);
    left: 50%;
    padding: 40px 25px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 4;
}
.modal_confirm > div > p {
    margin: 17px;
}
.modal_confirm > div > div {
    text-align: right;
}
.modal_confirm button {
    background: #052063 none repeat scroll 0 0;
    border: none;
    border-radius: 2px;
    color: #ffffff;
    font-size: 14px;
    height: 35px;
    margin-right: 10px;
    width: 130px !important;
}
.strtohtml {
    text-align: left !important;
}
#main_page {
	height: 100%;
	width: 100%;
}
#main_page > header {
	background-color: #e7e7e7;
	box-sizing: border-box;
    display: inline-flex;
    height: 75px;
    position: relative;
    width: 100%;
}
.usuario {
	align-items: center;
    display: flex;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-55%)
}
.usuario * {
    color: #0154a2;
    margin: 0 5px;
}
.usuario hr {
    background: #0154a2;
    height: 40px;
    width: 1px;
}
#main_page > header > h1 {
	color: #0b52a2;
    font-size: 30px;
    margin: auto 10px
}
.linea_azul {
	background-color: #0b52a2;
    height: 80%;
    margin: auto 0;
    width: 1px;
}
.inicio {
    border-radius: 10px;
    display: inline-block !important;
    margin: 0 !important;
    padding: 0 !important;
    position: relative;
    top: 50%;
    transform: translateY(-51%);
    width: auto !important;
}
.inicio h2 {
	margin-bottom: 30px;
}
#box_login {
    margin: 0;
    text-align: center;
}
#box_login input {
	border-radius: 4px;
    border-width: 1px;
    display: inline-block;
    height: 30px;
    margin: 5px;
    width: 300px;
}
#box_login input[type="text"], #box_login input[type="password"] {
    background: #eeeeee none repeat scroll 0 0;
    border: 2px solid #c8c8c8;
    display: block;
    height: 35px;
    margin: 20px auto;
    padding: 5px
}
.btnsave, .btncancel, #box_login input[type="submit"] {
    border-radius: 4px;
    border-width: 1px;
    color: #ffffff;
    cursor: pointer;
    font-size: 14px;
    height: 35px;
    min-width: 110px;
}
#box_login input[type="submit"] {
    background: #052063 none repeat scroll 0 0;
    width: 130px !important;
}
.btnsave {
    background: #4caf50 none repeat scroll 0 0;
}
.btncancel {
    background: #052063 none repeat scroll 0 0;
}
#box_login p {
    margin: 15px;
}
#box_login div:last-child {
    background: #e4e4e4 none repeat scroll 0 0;
    border-radius: 0 0 10px 10px;
    padding: 5px 20px;
    position: relative;
    text-align: right;
}
#box_login div:last-child > a {
    color: #7b7b7b;
    cursor: pointer;
    left: 20px;
    padding: 15px 20px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
#box_login div:last-child > a:nth-child(3) {
    left: 150px;
}
#box_login div:last-child > hr {
    background: #7b7b7b none repeat scroll 0 0;
    height: 40px;
    left: 140px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 1px;
}
#menu_view {
    flex-wrap: wrap;
    margin: auto;
    text-align: center;
    padding: 20px 0;
    max-width: 1000px;
}
#menu_view > section {
    /*background-color: #e7e7e7 !important;*/
    background-position: 50% 30% !important;
    background-repeat: no-repeat !important;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    height: 200px;
    margin: 10px;
    text-align: center;
    transition: box-shadow 0.2s, background 0.5s, color 0.5s;
    width: 200px;
}
#menu_view > section:hover {
    -webkit-box-shadow: 0px 0px 3px 2px rgba(150, 150, 150, 0.5);
    -moz-box-shadow: 0px 0px 3px 2px rgba(150, 150, 150, 0.5);
    box-shadow: 0px 0px 3px 2px rgba(150, 150, 150, 0.5);
}
#menu_view > section > div {
    color: #6c6c6c;
    display: table;
    height: 100%;
    width: 100%;
    background-color: #e7e7e7;
    background-position: 50% 30%;
    background-repeat: no-repeat;
}
#menu_view section:hover > div {
    background: transparent !important;
    color: #e7e7e7;
}
#menu_view > section > div > a {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
}
#dinamic_content {
    background: #f0f0f0;
    height: calc(100% - 75px);
}
#dinamic_content > div {
    overflow: auto;
}
#dinamic_content > div > h2 {
    color: #ffffff;
    font-size: 20px;
    margin: 20px 50px 0;
    padding: 7px;
    text-align: center;
    width: 300px;
}
#dinamic_content > div > div {
    background-color: #ffffff;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 0 50px;
    padding: 25px 50px;
    width: calc(100% - 200px);
}
#login_view > div {
    flex-flow: initial !important;
}
#dinamic_content [type='file'] {
    display: none;
}
#menu_view #competencias, #competencias > h2 {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#cf268f+0,964889+100 */
    background: #cf268f; /* Old browsers */
    background: -moz-linear-gradient(top,  #cf268f 0%, #964889 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #cf268f 0%,#964889 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #cf268f 0%,#964889 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cf268f', endColorstr='#964889',GradientType=0 ); /* IE6-9 */

}
#menu_view #competencias {
    background: #cf268f; /* Old browsers */
    background: url("/img/icono_conocimiento1.png"), -moz-linear-gradient(top,  #cf268f 0%, #964889 100%); /* FF3.6-15 */
    background: url("/img/icono_conocimiento1.png"), -webkit-linear-gradient(top,  #cf268f 0%,#964889 100%); /* Chrome10-25,Safari5.1-6 */
    background: url("/img/icono_conocimiento1.png"), linear-gradient(to bottom,  #cf268f 0%,#964889 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: url("/img/icono_conocimiento1.png"), progid:DXImageTransform.Microsoft.gradient( startColorstr='#cf268f', endColorstr='#964889',GradientType=0 ); /* IE6-9 */
    /*background-image: url("/img/icono_conocimiento1.png");*/
}
#menu_view #competencias > div {
    background-image: url("/img/icono_conocimiento.png");
}
#menu_view #profesores, #profesores > h2 {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#3fc2ee+0,5156a1+100 */
    background: #3fc2ee; /* Old browsers */
    background: -moz-linear-gradient(top,  #3fc2ee 0%, #5156a1 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #3fc2ee 0%,#5156a1 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #3fc2ee 0%,#5156a1 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3fc2ee', endColorstr='#5156a1',GradientType=0 ); /* IE6-9 */
}
#menu_view #profesores {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#3fc2ee+0,5156a1+100 */
    background: #3fc2ee; /* Old browsers */
    background: url("/img/icono_profesor1.png"), -moz-linear-gradient(top,  #3fc2ee 0%, #5156a1 100%); /* FF3.6-15 */
    background: url("/img/icono_profesor1.png"), -webkit-linear-gradient(top,  #3fc2ee 0%,#5156a1 100%); /* Chrome10-25,Safari5.1-6 */
    background: url("/img/icono_profesor1.png"), linear-gradient(to bottom,  #3fc2ee 0%,#5156a1 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: url("/img/icono_profesor1.png"), progid:DXImageTransform.Microsoft.gradient( startColorstr='#3fc2ee', endColorstr='#5156a1', GradientType=0 ); /* IE6-9 */
}
#menu_view #profesores > div {
    background-image: url("/img/icono_profesor.png");
}
#menu_view #materias, #materias > h2 {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e82081+0,e8233d+100 */
    background: #e82081; /* Old browsers */
    background: -moz-linear-gradient(top,  #e82081 0%, #e8233d 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #e82081 0%,#e8233d 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #e82081 0%,#e8233d 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e82081', endColorstr='#e8233d',GradientType=0 ); /* IE6-9 */
}
#menu_view #materias {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e82081+0,e8233d+100 */
    background: #e82081; /* Old browsers */
    background: url("/img/icono_materias1.png"), -moz-linear-gradient(top,  #e82081 0%, #e8233d 100%); /* FF3.6-15 */
    background: url("/img/icono_materias1.png"), -webkit-linear-gradient(top,  #e82081 0%,#e8233d 100%); /* Chrome10-25,Safari5.1-6 */
    background: url("/img/icono_materias1.png"), linear-gradient(to bottom,  #e82081 0%,#e8233d 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: url("/img/icono_materias1.png"), progid:DXImageTransform.Microsoft.gradient( startColorstr='#e82081', endColorstr='#e8233d',GradientType=0 ); /* IE6-9 */
}
#menu_view #materias > div {
    background-image: url("/img/icono_materias.png");
}
#menu_view #alumnos, #alumnos > h2 {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#5dd0c3+0,199ed2+100 */
    background: #5dd0c3; /* Old browsers */
    background: -moz-linear-gradient(top,  #5dd0c3 0%, #199ed2 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #5dd0c3 0%,#199ed2 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #5dd0c3 0%,#199ed2 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5dd0c3', endColorstr='#199ed2',GradientType=0 ); /* IE6-9 */
}
#menu_view #alumnos {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#5dd0c3+0,199ed2+100 */
    background: #5dd0c3; /* Old browsers */
    background: url("/img/icono_alumnos1.png"), -moz-linear-gradient(top,  #5dd0c3 0%, #199ed2 100%); /* FF3.6-15 */
    background: url("/img/icono_alumnos1.png"), -webkit-linear-gradient(top,  #5dd0c3 0%,#199ed2 100%); /* Chrome10-25,Safari5.1-6 */
    background: url("/img/icono_alumnos1.png"), linear-gradient(to bottom,  #5dd0c3 0%,#199ed2 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: url("/img/icono_alumnos1.png"), progid:DXImageTransform.Microsoft.gradient( startColorstr='#5dd0c3', endColorstr='#199ed2',GradientType=0 ); /* IE6-9 */
}
#menu_view #alumnos > div {
    background-image: url("/img/icono_alumnos.png");
}
#menu_view #matprofalu, #matprofalu > h2 {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#b6d024+0,73b93c+100 */
    background: #b6d024; /* Old browsers */
    background: -moz-linear-gradient(top,  #b6d024 0%, #73b93c 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #b6d024 0%,#73b93c 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #b6d024 0%,#73b93c 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b6d024', endColorstr='#73b93c',GradientType=0 ); /* IE6-9 */
}
#menu_view #matprofalu {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#b6d024+0,73b93c+100 */
    background: #b6d024; /* Old browsers */
    background: url("/img/icono_asignacion1.png"), -moz-linear-gradient(top,  #b6d024 0%, #73b93c 100%); /* FF3.6-15 */
    background: url("/img/icono_asignacion1.png"), -webkit-linear-gradient(top,  #b6d024 0%,#73b93c 100%); /* Chrome10-25,Safari5.1-6 */
    background: url("/img/icono_asignacion1.png"), linear-gradient(to bottom,  #b6d024 0%,#73b93c 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: url("/img/icono_asignacion1.png"), progid:DXImageTransform.Microsoft.gradient( startColorstr='#b6d024', endColorstr='#73b93c',GradientType=0 ); /* IE6-9 */
}
#menu_view #matprofalu > div {
    background-image: url("/img/icono_asignacion.png");
}
#menu_view #actividades, #actividades > h2, #actividades_titular > h2 {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#eb9f20+0,df3c28+100 */
    background: #eb9f20; /* Old browsers */
    background: -moz-linear-gradient(top,  #eb9f20 0%, #df3c28 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #eb9f20 0%,#df3c28 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #eb9f20 0%,#df3c28 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eb9f20', endColorstr='#df3c28',GradientType=0 ); /* IE6-9 */
}
#menu_view #actividades {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#eb9f20+0,df3c28+100 */
    background: #eb9f20; /* Old browsers */
    background: url("/img/icono_actividades1.png"), -moz-linear-gradient(top,  #eb9f20 0%, #df3c28 100%); /* FF3.6-15 */
    background: url("/img/icono_actividades1.png"), -webkit-linear-gradient(top,  #eb9f20 0%,#df3c28 100%); /* Chrome10-25,Safari5.1-6 */
    background: url("/img/icono_actividades1.png"), linear-gradient(to bottom,  #eb9f20 0%,#df3c28 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: url("/img/icono_actividades1.png"), progid:DXImageTransform.Microsoft.gradient( startColorstr='#eb9f20', endColorstr='#df3c28',GradientType=0 ); /* IE6-9 */
}
#menu_view #actividades > div {
    background-image: url("/img/icono_actividades.png");
}
#menu_view #evaluaciones, #evaluaciones > h2, #evaluaciones_profesor > h2, #evaluaciones_titular > h2 {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#7c94c1+0,64419e+100 */
    background: #7c94c1; /* Old browsers */
    background: -moz-linear-gradient(top,  #7c94c1 0%, #64419e 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #7c94c1 0%,#64419e 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #7c94c1 0%,#64419e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7c94c1', endColorstr='#64419e',GradientType=0 ); /* IE6-9 */
}
#menu_view #evaluaciones {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#7c94c1+0,64419e+100 */
    background: #7c94c1; /* Old browsers */
    background: url("/img/icono_evaluaciones1.png"), -moz-linear-gradient(top,  #7c94c1 0%, #64419e 100%); /* FF3.6-15 */
    background: url("/img/icono_evaluaciones1.png"), -webkit-linear-gradient(top,  #7c94c1 0%,#64419e 100%); /* Chrome10-25,Safari5.1-6 */
    background: url("/img/icono_evaluaciones1.png"), linear-gradient(to bottom,  #7c94c1 0%,#64419e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: url("/img/icono_evaluaciones1.png"), progid:DXImageTransform.Microsoft.gradient( startColorstr='#7c94c1', endColorstr='#64419e',GradientType=0 ); /* IE6-9 */
}
#menu_view #evaluaciones > div {
    background-image: url("/img/icono_evaluaciones.png");
}
#menu_view #reportes, #reportes > h2, #reportes_alumno > h2 {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#23b374+0,51728e+100 */
    background: #23b374; /* Old browsers */
    background: -moz-linear-gradient(top,  #23b374 0%, #51728e 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #23b374 0%,#51728e 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #23b374 0%,#51728e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#23b374', endColorstr='#51728e',GradientType=0 ); /* IE6-9 */
}
#menu_view #reportes {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#23b374+0,51728e+100 */
    background: #23b374; /* Old browsers */
    background: url("/img/icono_reportes1.png"), -moz-linear-gradient(top,  #23b374 0%, #51728e 100%); /* FF3.6-15 */
    background: url("/img/icono_reportes1.png"), -webkit-linear-gradient(top,  #23b374 0%,#51728e 100%); /* Chrome10-25,Safari5.1-6 */
    background: url("/img/icono_reportes1.png"), linear-gradient(to bottom,  #23b374 0%,#51728e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: url("/img/icono_reportes1.png"), progid:DXImageTransform.Microsoft.gradient( startColorstr='#23b374', endColorstr='#51728e',GradientType=0 ); /* IE6-9 */
}
#menu_view #reportes > div {
     background-image: url("/img/icono_reportes.png");
}

.details table, .rubricas {
    border-collapse: collapse;
    margin: auto;
}
.details table input {
    border: none;
    text-align: center;
    width: 25px;
}
.details table textarea {
    border: none;
}
.details.last {
    margin: 20px;
}
#expirado {
    font-family: Arial;
}
#expirado > div {
    font-family: Arial;
    margin: 50px !important;
}
.panel_inline {
    margin-top: 30px;
}
.panel_inline .panel_list {
    text-align: left !important;
}
.panel_inline {
    display: block;
    text-align: center;
    width: 100%;
}
.panel_inline .sublistaDetalle {
    display: inline-block !important;
}
.details > b:not(:first-child) {
    margin-left: 30px;
}
.button_panel {
    margin: auto 30px;
}
#materias .admin_control:nth-child(3) {
    display: block !important;
    margin: auto -25px;
}
#materias .admin_control:nth-child(3) * {
    display: block;
}
.details textarea {
    margin-bottom: 20px;
    resize: none;
}
.list > select {
    height: 200px;
	width: 270px;
}
.instrucciones {
    line-height: 30px;
	margin-bottom: 20px; 
}
.admin_control.first {
    margin: 0 !important;
}
.admin_control {
	display: inline-flex;
    margin: 0 0 0 50px;
    position: relative;
}
/*.admin_control ul {
    margin-left: 50px;
    text-align: left;
}*/
.admin_control ul {
    list-style: none;
    padding:0;
    text-align: left;
    margin:0;
}
.admin_control ul li { 
    padding-left: 1em; 
    text-indent: -.7em;
}
.admin_control ul li:before {
    color: #167f92;
    content: "• ";
    font-size: 18px;
    font-weight: bold;
}
.srrslt {
    color: red;
    display: block;
    margin-bottom: 20px;
    margin-top: -20px;
}
.btn_add {
    color: #29B505;
}
.btnrad {
    display: inline-block;
    height: 35px;
    margin-left: 20px;
    position: relative;
    transform: translateY(30%);
    width: 155px;
}
.btnrad * {
    margin: 0 !important;
    position: absolute;
}
.btnrad input[type="radio"] {
    cursor: pointer;
    height: 100%;
    opacity: 0;
    width: 100%;
}
.btnrad2 {
    width: 112px !important;
}
.btn_add:hover {
    -webkit-box-shadow: 0px 0px 5px 0px rgba(40, 181, 85, 0.75);
	-moz-box-shadow: 0px 0px 5px 0px rgba(40, 181, 85, 0.75);
	box-shadow: 0px 0px 5px 0px rgba(40, 181, 85, 0.75);
}
.btn_edi:hover {
	-webkit-box-shadow: 0px 0px 5px 0px rgba(63, 81, 181, 0.75);
	-moz-box-shadow: 0px 0px 5px 0px rgba(63, 81, 181, 0.75);
	box-shadow: 0px 0px 5px 0px rgba(63, 81, 181, 0.75);	
}
.btn_del {
    color: #DB0304;
}
.btn_del:hover {
    -webkit-box-shadow: 0px 0px 5px 0px rgba(219, 3, 4, 0.75);
	-moz-box-shadow: 0px 0px 5px 0px rgba(219, 3, 4, 0.75);
	box-shadow: 0px 0px 5px 0px rgba(219, 3, 4, 0.75);
}
.panel_list {
	display: inline-block;
}
.panel_list input {
	display: block;
	margin-bottom: 20px;
}
.buttons_list {
	display: inline-flex;
    float: right;
    text-align: right;
}
.buttons_list > button {
	border: 1px;
    border-color: #DFDFDF;
    border-radius: 3px 3px 0 0;
    border-style: solid;
    cursor: pointer;
    display: inline;
    font-size: 16px;
	height: 25px;
	padding: 0 10px;
	text-align: center;
	-webkit-transition: font-size 0.5s, box-shadow 0.5s; /* Safari */
    transition: font-size 0.5s, box-shadow 0.5s;
}
.details {
	margin: 20px 70px 20px 30px;
}
.details p {
    margin-bottom: 7px;
}
.details > input[type='text'], .details select {
	margin-bottom: 15px;
}
[disabled='disabled'] {
	color: #777777;
	cursor: default !important;
	opacity: 0.5;
}
#profesores form {
	display: inline-flex;
}
#profesores p {
    font-size: 13px;
    font-weight: bold;
}
.panel_list button {
    display: block;
    margin-top: 20px;
}
.inlflx {
    display: inline-flex;
}
.inlflx > div {
    margin: 0 10px;
}
.details > button {
    display: inline-block;
    margin: 15px auto;
}
.sublistaDetalle {
	display: block;
}
.nombre_archivo {
    font-size: 12px;
    margin: 15px 5px;
    width: 260px;
}
#loader > img {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
}
.taxos {
    display: block;
}
#perfilexperto [type=checkbox] {
    display: initial !important;
    margin-bottom: 10px;
}
#perfilexperto [type=radio] {
    margin: 0 !important;
}
.top_margen {
    margin-top: 20px;
}
.tab_niv {
    border-collapse: collapse;
}
.tab_niv tr td {
    border-color: red;
    padding: 5px;
}
#actividades input[type="radio"], #actividades_titular input[type="radio"], #evaluaciones input[type="radio"], #evaluaciones_profesor input[type="radio"], #evaluaciones_titular input[type="radio"], #reportes input[type="radio"], #reportes_alumno input[type="radio"] {
    display: inline-block;
}
.details > textarea {
    height: 150px;
    margin: 0;
    width: 500px;
}
.rubricas textarea {
    margin: 0;
}
#evaluaciones form .details, #evaluaciones_profesor form .details, #evaluaciones_titular form .details {
    text-align: left;
}
.rubricas tr > td {
    border: 2px solid #d9e4e6;
    position: relative;
    text-align: center;
    width: 150px;
}
/*.rubricas > tbody > tr > td:not(.niveles), */
.niveles > table > tbody > tr > td {
    padding: 20px;
}
.rubricas > tbody > tr:nth-child(even) {
    background: white;
}
.rubricas > tbody > tr:nth-child(odd) {
    background: #eaf3f3;
}
.perf:hover > .perfil_experto {
    display: block !important;
}
.perfil_experto {
    display: none !important;
    font-size: 12px;
    left: 0;
    top: 0;
}
.perfil_experto span {
    opacity: 0.5;
    position: absolute;
    left: 0;
    top: 0;
}
.perfil_experto span img, .perfil_experto span input[type='radio'] {
    left: 0;
}
.perfil_experto input {
    margin: 3px;
}
td.req_lev {
    background-color: #c4ddef;
}
.rubricas textarea {
    background: transparent none repeat scroll 0 0;
    border: medium none;
    font-family: 'Open Sans';
    font-size: 14px;
    overflow: hidden;
    resize: none;
    text-align: center;
    width: auto !important;
}
.rubricas button {
    display: none;
    left: 0;
    padding: 0;
    position: absolute;
    top: 0;
}
.rubricas td:hover button {
    display: block;
}
.rubricas button img {
    width: 15px;
}
#evaluaciones .rubricas textarea, #evaluaciones_profesor .rubricas textarea, #evaluaciones_titular .rubricas textarea {
    background: transparent none repeat scroll 0 0;
    border: medium none;
    font-family: Arial;
    font-size: 14px;
    overflow: hidden;
    resize: none;
    text-align: center;
    width: auto !important;
}
#evaluaciones .niveles img, #evaluaciones_profesor .niveles img, #evaluaciones_titular .niveles img {
    display: none;
}
.level_asigned {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
.level_asigned img {
    display: block !important;
    position: absolute;
    right: 0;
    top: 0;
}
#evaluaciones .rubricas input[type="radio"], #evaluaciones_profesor .rubricas input[type="radio"], #evaluaciones_titular .rubricas input[type="radio"], #actividades .rubricas input[type="radio"], #actividades_titular .rubricas input[type="radio"] {
    cursor: pointer;
    height: 100%;
    margin: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 1;
}
.niveles {
    height: 100%;
    padding: 0 !important;
}
.niveles > table {
    border-spacing: 1px 0;    
    height: 100%;
    width: 100%;
}
@media screen and (-webkit-min-device-pixel-ratio:0) { 
    .niveles > table {
        min-height: 100px;
    }
}
.niveles > table td {
    border-bottom: 0 none;
    border-top: 0 none;
    transition: background 0.2s;
}
.niveles > table td:hover, .perf:hover {
    background: rgba(22, 127, 146, 0.3);
}
.niveles > table tr td:first-child {
    border-left: 0 none;
}
.niveles > table tr td:last-child {
    border-right: 0 none;
}
#evaluaciones .details, #evaluaciones_profesor .details, #evaluaciones_titular .details {
    display: inline-block;
}
.reporte {
    border: 1px solid black;
    padding: 20px 0;
    width: 100%;
}
.inline_flex {
    display: inline-flex;
}
.tabla_grafica {
    margin: auto;
    max-width: 500px;
}
#myChart {
    margin: auto;
}
.tabla_grafica td {
    border: none !important;
    padding-left: 20px;
    padding-top: 10px;
}
#imgcanplc, #myReport {
    display: none;
}
#button_cmd {
    height: 27px;
    margin-top: 20px;
    position: relative;
    width: 100%;
}
#button_cmd > button {
    height: 27px;
    position: absolute;
    right: 0;
}
.home {
    cursor: pointer;
    font-size: 16px;
    transition: font-size 0.2s;
}
.home:hover {
    font-size: 18px;
}
#login_view {
    background-image: url("/img/competere_bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    position: absolute;
    text-align: center;
    width: 100%;
    z-index: 2;
}
.logos {
    background-color: #dad9d9;
    border-radius: 10px 10px 0 0;
    padding: 10px 20px;
}
table th {
    background: #167f92 none repeat scroll 0 0;
    border: 1px solid white;
    color: white;
    font-size: 14px;
    padding: 5px;
}
table th:first-child {
    border-radius: 10px 0 0;
}
table th:last-child {
    border-radius: 0 10px 0 0;
}
.radar-legend li:before {
    content: "" !important;
}
.chart-legend {
    margin: auto;
}
.chart-legend li span{
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-right: 5px;
}
#actividades .rubricas td {
    padding: 10px;
}
#js-legend ul li {
    list-style: outside none none;
    text-align: left;
}
.txtaedit img {
    position: absolute;
    right: 0;
    top: 0;
}
.txtaedit {
    cursor: pointer;
    transition: background 0.2s;
}
.txtaedit:hover {
    background: rgba(22, 127, 146, 0.3);
}
.hide {
    display: none !important;
}
.imgabtn {
    border-radius: 30px;
    transition: box-shadow 0.2s; 
}
.imgabtn:hover {
    cursor: pointer;
    -webkit-box-shadow: 0px 0px 10px 1px rgba(63, 81, 181, 0.5);
    -moz-box-shadow: 0px 0px 10px 1px rgba(63, 81, 181, 0.5);
    box-shadow: 0px 0px 10px 1px rgba(63, 81, 181, 0.5);
    transform: scale(1.1);
}