 Acerca de
 
El objetivo del sistema COMPETERE es entregar al estudiante los resultados de la evaluación formativa de una forma gráfica, que le permita conocer sus avances y comparaciones entre las metas de aprendizaje y los niveles alcanzados en el marco de las competencias disciplinares y transversales de sus respectivos programas de estudio. 


Agradecemos el apoyo por parte de Institutito Tecnológico de Estudios Superiores de Monterrey y Novus, para la elaboración de este proyecto que tiene como finalidad de entregar a cada uno de los estudiantes los resultados de los proceso de evaluación del aprendizaje, de una forma gráfica que les permita conocer sus avances y hacer comparaciones paulatinas en relación con su desempeño académico, en el marco de las competencias disciplinares y trasversales declaradas en sus materias.

Responsables

    Katherina Edith Gallado Córdova
    María Eugenia Gil Rendón