Hi my friend, this is about
<ul id="main_menu">
  <li><a href="/"><img src="img/home.png"><p>Inicio</p></a></li>
  <li><a href="about"><img src="img/acerca.png"><p>A cerca de</p></a></li>
  <li><a href="Mantenimiento/Catalogos.aspx"><img src="img/catalogos.png"><p>Catalogos</p></a></li>
  <li><a href="Movimientos/HomeCapturaPerfExp.aspx"><img src="img/pexperto.png"><p>Perfil Experto</p></a></li>
  <li><a href="Movimientos/HomeCapturaAlumno.aspx"><img src="img/evalua.png"><p>Evaluación</p></a></li>
  <li><a href="Reportes/Reportes.aspx"><img src="img/reportes.png"><p>Reportes</p></a></li>
</ul>