<div id="alumnos" ng-controller="alumnos">
	<h2>Alumnos</h2>
	<div>
		<div class="instrucciones">
			<div ng-show="!add && !edit">A continuación se muestra una lista de todos los alumnos registrados en el sistema. Para dar de alta, de clic en 'Añadir alumno' en la parte superior de la lista. Para editar o borrar un alumno, primero seleccionar un alumno de la lista y dar clic en 'Editar alumno' o 'Borrar alumno' en la parte superior de la lista.</div>
			<div ng-show="add">Para dar de alta un nuevo alumno en el sistema favor de llenar todos los campos que se muestran a continuación sin faltar ninguno. Para su comodidad el sistema genera una contraseña aleatoriamente pero usted puede modificarla si así lo desea. Esta contraseña es con la que el alumno accessara al sistema, por lo que no olvide compartirsela una vez que la defina.</div>
			<div ng-show="!add && edit">Para editar la información de un alumno, modifique los datos en los campos siguientes. La nómina no se puede modificar, por lo que si desea modificarla tendra que borrar el registro y hacerlo otra vez. No olvide guardar los cambios con el boton aceptar una vez concluya las modificaciones.</div>
		</div>
		<div class="admin_control">
			<div class="panel_list">
				<div class="buttons_list"><button class="btn_add" alt="Añadir alumno" title="Añadir alumno" ng-click="edit = !edit; add = !add; addprof()" ng-disabled="edit">+</button><button class="btn_edi" alt="Editar alumno" title="Editar alumno" ng-disabled="!profesorSelected || edit" ng-click="edit = !edit"><img src="/img/edit.png"></button><button class="btn_del" alt="Borrar alumno" title="Borrar alumno" ng-disabled="!profesorSelected || edit" ng-click="delprof()">x</button></div>
				<div class="list">
					<select id="lista_general" size="15" ng-model="profesorSelected" ng-options="(item.pro_nombre + ' ' + item.pro_apellido_paterno + ' ' + item.pro_apellido_materno) for item in lista_profesores track by item.pro_nomina" ng-disabled="edit">
						<option value=""></option>
					</select>
				</div>
				<button id="toLoad">Examinar...</button>
				<div class="nombre_archivo"><b>Archivo seleccionado:</b> <span></span></div>
				<input path="/masiveprofesor" id="file" type="file" file-reader="fileReader">
				<button file-Reader-Btn="fileReaderBtn" path="/profesores" title="Subir archivo" alt="Subir archivo" ng-disabled="fileOn == undefined || fileOn == ''">Subir archivo</button>
			</div>
			<form ng-submit="profesorSubmit()" ng-disabled="!edit">
				<div class="details">
					<p>Nómina:</p><input type="text" ng-model="profesorSelected.pro_nomina" ng-readonly="!add" ng-disabled="!add" required>
					<p>Nombre:</p><input type="text" ng-model="profesorSelected.pro_nombre" ng-readonly="!edit" required>
					<p>Apellido Paterno:</p><input type="text" ng-model="profesorSelected.pro_apellido_paterno" ng-readonly="!edit" required>
					<p>Apellido Materno:</p><input type="text" ng-model="profesorSelected.pro_apellido_materno" ng-readonly="!edit" required>
					<p>Contraseña:</p><input type="text" ng-model="profesorSelected.pro_password" ng-readonly="!edit" required>
					<p>Tipo de usuario:</p>
					<select class="lista_rol" ng-model="profesorSelected.pro_rol" ng-disabled="!edit" required>
						<option value=""></option>
						<option value="Administrador">Administrador</option>
						<option value="Titular">Titular</option>
						<option value="Profesor">Profesor</option>
					</select>
					<!-- <input type="text" ng-model="profesorSelected.pro_rol" ng-readonly="!edit"> -->
					<button title="Guardar cambios" alt="Guardar cambios" ng-disabled="!edit"><img src="/img/accept.png"></button>
					<button type="button" title="Cancelar" alt="Cancelar" ng-disabled="!edit" ng-click="cancel()"><img src="/img/cancel.png"></button>
				</div>
			</form>
		</div>
	</div>
</div>