<!DOCTYPE>
<html lang="es">
<head>
  <meta charset="utf-8" />
  <title>Home Page</title>
  <link rel="stylesheet" type="text/css" href="/styles/styles.css">
</head>
<body ng-app="myApp">

  <div id="main_page" ng-controller="mainPage">
    <div id="loader" loader="loader"><img src="img/loader.gif"></div>
    <div class="modal_confirm" ng-show="modalText"><div><p ng-repeat="item in modalText track by $index">{{item}}</p><br><br><button ng-click="answer = true">Aceptar</button><button ng-click="answer = false" ng-show="typMe">Cancelar</button></div></div>
    <header><div class="logo"><img src="img/tec.png"></div><div class="linea_azul"></div><h1>COMPETERE</h1><div class="usuario" ng-show="usernombre">Hola {{usernombre}} <a href="/logout" ng-click="logOut($event);" alt="Salir" title="Salir"><img src="img/logout.png"></a></div></header>

    <div id="dinamic_content" dynamic="view"></div>

  </div>

</body>
<script type="text/javascript" src="/scripts/jquery-2.1.3.min.js"></script>
<script type="text/javascript" src="/scripts/angular.min.js"></script>
<script type="text/javascript">

myApp = angular.module('myApp',[]);


myApp.factory('authInterceptor', ['$rootScope', '$q', '$window', '$injector', function ($rootScope, $q, $window, $injector) {
  return {
    request: function (config) {
      config.headers = config.headers || {};
      if (typeof($window.localStorage.token) != "undefined") {
        config.headers.authorization = $window.localStorage.token;
      }
      return config;
    },
    response: function (response) {
      if(response.headers('nameuser') != '' && response.headers('nameuser') != null){
        $rootScope.usernombre = response.headers('nameuser');
      }else{
        delete $rootScope.usernombre;
      }
      if(response.headers('newtoken') != ''){
        $window.localStorage.token = response.headers('newtoken')
      }
      if (response.status === 401) {
        // handle the case where the user is not authenticated
      }
      return response || $q.when(response);
    }
  };
}])
.config(function ($httpProvider) {
  $httpProvider.interceptors.push('authInterceptor');
});

myApp.factory('httpInterceptor', ['$q', '$rootScope', '$log', function ($q, $rootScope, $log) {
  var numLoadings = 0;
  return {
    request: function (config) {
      numLoadings++;
      $rootScope.$broadcast("loader_show");
      return config || $q.when(config);
    },
    response: function (response) {
      if ((--numLoadings) === 0) {
          $rootScope.$broadcast("loader_hide");
      }
      return response || $q.when(response);
    },
    responseError: function (response) {
      if (!(--numLoadings)) {
          $rootScope.$broadcast("loader_hide");
      }
      return $q.reject(response);
    }
  };
}])
.config(function ($httpProvider) {
    $httpProvider.interceptors.push('httpInterceptor');
});


myApp.directive("loader", ['$rootScope', function ($rootScope) {
  return function ($scope, element, attrs) {
    $scope.$on("loader_show", function () {
      return element.show();
    });
    return $scope.$on("loader_hide", function () {
      return element.hide();
    });
  };
}]);


myApp.directive('fileReader', function ($rootScope, modalConfirm){
   return {
    link: function (scope, ele){
      $(ele).on('change', function (event){
        input = ele;
        fileName = event.target.value;
        if(fileName.lastIndexOf('csv')===fileName.length-3){
          $('.nombre_archivo').css('color', '#0F0');
          scope.$apply(function(){
            scope.fileOn = true;
          });
        }else{
          $('.nombre_archivo').css('color', '#F00');
          data = ['El tipo de archivo que quiere subir es incorrecto. Asegurese que el archivo sea extensión .csv'];
          modalConfirm.conf(scope.giveScope(), data, false).then(function(){
            input.replaceWith(input.val('').clone(true));
          });
          scope.$apply(function(){
            scope.fileOn = false;
            scope.giveScope().modalText = data;
          });
        }
      });
    }
  }
});


myApp.directive('fileReaderBtn', function ($http, $compile, modalConfirm, getUrl) {
  return {
    link: function(scope, element) {
      $(element).on('click', function(event) {
        path = document.getElementById('file').getAttribute('path');
        file = document.getElementById('file').files[0];
        r = new FileReader();
        r.onload = function(e){
          contents = e.target.result;
          allTextLines = contents.split(/\r\n|\n/);
          allTextLines = allTextLines.filter(Boolean);
          for(i=0;i<allTextLines.length;i++){
            allTextLines[i] = allTextLines[i].split(",");
          }
          $http({
            method: 'GET',
            url: path,
            params: {datos: JSON.stringify(allTextLines)}
          }).success(function(data){
            modalConfirm.conf(scope.giveScope(), data, false).then(function(){
              scope.refreshView();
            });        
          });
        }
        r.readAsText(file);
      });
    }
  };
});

myApp.directive('dynamic', function ($compile){
  return {
    replace: true,
    link: function (scope, ele, attrs){
      scope.$watch(attrs.dynamic, function(html){
        if(!html){
          return;
        }
        ele.html((typeof(html) === 'string') ? html : html.data);
        $compile(ele.contents())(scope);
      }, true);
    }
  }
});


myApp.service('getUrl', function ($http){
  return {
    getHTML: function(path){
      return $http({
        method: 'GET',
        url: path
      }).success(function(data, status, headers){
        return data;
      })
    }
  }
});

myApp.service('modalConfirm', function ($q){
  return {
    conf: function($scope, text, typeMessage){
      $scope.modalText = text;
      $scope.typMe = typeMessage;
      deferred = $q.defer();
      time = setInterval(function(){
        if($scope.answer == true || $scope.answer == false){
          deferred.resolve($scope.answer);
          delete $scope.answer;
          $scope.modalText = "";
          clearInterval(time);
        }
      }, 250);     
      return deferred.promise;
    }
  }
});

myApp.controller('mainPage', ['$rootScope', '$scope', '$window', 'getUrl', function ($rootScope, $scope, $window, getUrl){
  getUrl.getHTML('/logview').then(function(response){
    $scope.view = response.data;
  });
  /* href="/about" ng-click="goUrl($event);" */
  $scope.goUrl = function(event){
    if(typeof(event) === 'string'){
      path = event;
    }else{
      event.preventDefault();
      path = event.target.pathname;
    }
    getUrl.getHTML(path).then(function(response){
      $scope.view = response.data;
    });
  }
  $scope.logOut = function(event){
    event.preventDefault();
    delete $window.localStorage.token;
    delete $rootScope.usernombre;
    getUrl.getHTML('/logview').then(function(response){
      $scope.view = response.data;
    });
  }
  $scope.giveScope = function(){
    return $scope;
  }
}]);





/*   INICIA CONTROLADOR DE LOGEO DE USUARIO   */
myApp.controller('userLogin', ['$scope', '$http', '$window', 'getUrl', 'modalConfirm', function ($scope, $http, $window, getUrl, modalConfirm){
  $scope.loginSubmit = function(){
    $http({
      url: '/login',
      method: 'GET',
      params: {user: $scope.user}
    })
      .success(function (data){
        if(data.status == "error"){
          //Revisar este codigo!!!!!!!!!!!!!!!!!!!!!!!!!!!
          msg = [data.text];
          modalConfirm.conf($scope.giveScope(), msg, false).then(function(){});
        }else{
          /*document.cookie = 'tokenCompetere=' + data.token;*/
          $scope.goToUrlParent('/menu');
          $window.localStorage.token = data.token;
          /*getUrl.getHTML('/menu').then(function(response){
            $scope.giveScope().view = response.data;
          });*/
        }
      })
      /*.error(function (){
        delete $window.sessionStorage.token;
      })*/
  }
  $scope.goToUrlParent = function(event){
    $scope.goUrl(event);
  }
}]);
/*   TERMINA CONTROLADOR DE LOGEO DE USUARIO   */

/*   INICIA CONTROLADOR DE COMPETENCIAS   */
myApp.controller('competencias', ['$scope', '$http', 'getUrl', 'modalConfirm', function ($scope, $http, getUrl, modalConfirm){
  $scope.refreshView = function(){
    getUrl.getHTML('/allcompetence').then(function(response){
      $scope.lista1 = response.data;
    });
  }
  $scope.addelem1 = function(){
    $scope.modeloLista1 = {};
    $scope.modeloLista1.com_fijo = 0;
  }
  $scope.form1 = function(){
    add = false;
    if($scope.add1 && $scope.edit1){
      add = true;
    }else{
      add = false;
    }
    $http({
      url: '/updatecompetence',
      method: 'GET',
      params: {competencia: $scope.modeloLista1, type_trans: add}
    })
    .success(function(data){
      modalConfirm.conf($scope.giveScope(), data, false).then(function(){
        $scope.edit1 = !$scope.edit1;
        $scope.add1 = false;
        $scope.modeloLista1 = null;
        $scope.refreshView();
        $scope.update1();
        $scope.update2();
      });
    });
  }
  $scope.delelem1 = function(){
    if($scope.lista2.length){
      data = ['La competencia no puede ser borrada mientras tenga subcompetencias asignadas!'];
      modalConfirm.conf($scope.giveScope(), data, false).then(function(response){});
    }else{
      data = ['Segur@ que desea borrar el registro'];
      modalConfirm.conf($scope.giveScope(), data, true).then(function(response){
        if(response){
          $http({
            url: '/delcompetence',
            method: 'GET',
            params: {competencia: $scope.modeloLista1.com_clave_competencia}
          })
          .success(function(data){
            modalConfirm.conf($scope.giveScope(), data, false).then(function(){
              $scope.refreshView();
            });
          });
        }
      });
    }
  }
  $scope.update1 = function(){
    $scope.lista2 = {};
    if($scope.modeloLista1 != null){
      $http({
        url: '/allsubcompetence',
        method: 'GET',
        params: {competencia: $scope.modeloLista1.com_clave_competencia}
      })
      .success(function(data){
        if(!data.text){
          $scope.lista2 = data;
        }else{
          $scope.lista2 = {};
        }
      });
    }    
  }
  $scope.cancel1 = function(){
    data = ['Segur@ que no desea guardar cambios?'];
    modalConfirm.conf($scope.giveScope(), data, true).then(function(response){
      if(response){
        $scope.edit1 = !$scope.edit1;
        $scope.add1 = false;
        $scope.modeloLista1 = null;
      }
    });
  }
  $scope.addelem2 = function(){
    $scope.modeloLista2 = {};
    $scope.modeloLista2.sco_fijo = 0;
  }
  $scope.form2 = function(){
    add = false;
    if($scope.add2 && $scope.edit2){
      add = true;
    }else{
      add = false;
    }
    $http({
      url: '/updatesubcompetence',
      method: 'GET',
      params: {competencia: $scope.modeloLista1.com_clave_competencia, subcompetencia: $scope.modeloLista2, type_trans: add}
    })
    .success(function(data){
      modalConfirm.conf($scope.giveScope(), data, false).then(function(){
        $scope.edit2 = !$scope.edit2;
        $scope.add2 = false;
        $scope.modeloLista2 = null;
        $scope.update1();
        $scope.update2();
      });
    });
  }
  $scope.delelem2 = function(event){
    if($scope.lista3.length){
      data = ['La subcompetencia no puede ser borrada mientras tenga niveles asignadas!'];
      modalConfirm.conf($scope.giveScope(), data, false).then(function(response){});
    }else{
      if(event.ctrlKey){
        claves = [];
        angular.forEach($scope.lista2, function(item){
          claves.push(item.sco_clave_subcompetencia);
        });
        $http({
          url: '/checklevels',
          method: 'GET',
          params: {competencia: claves}
        })
        .success(function(ans){
          flag = ans.indexOf(true);
          if(flag != -1){
            data = ['No se pueden borrar las subcompetencias, ya que una o varias todavia tienen niveles dependientes.'];
            modalConfirm.conf($scope.giveScope(), data, false).then(function(){});
          }else{
            data = ['Esta seguro@ que desea borrar todas las subcompetencias para esta competencia? Una vez confirmado no podra volver a recuperarlas!'];
            modalConfirm.conf($scope.giveScope(), data, true).then(function(response){
              if(response){
                $http({
                  url: '/masivedelsubcompetence',
                  method: 'GET',
                  params: {competencia: $scope.modeloLista1}
                })
                .success(function(data){
                  modalConfirm.conf($scope.giveScope(), data, false).then(function(){
                    $scope.update1();
                  });
                });
              }
            });
          }
        });
      }else{
        data = ['Segur@ que desea borrar el registro'];
        modalConfirm.conf($scope.giveScope(), data, true).then(function(response){
          if(response){
            $http({
              url: '/delsubcompetence',
              method: 'GET',
              params: {subcompetencia: $scope.modeloLista2.sco_clave_subcompetencia}
            })
            .success(function(data){
              modalConfirm.conf($scope.giveScope(), data, false).then(function(){
                $scope.update1();
              });
            });
          }
        });
      }
    }
  }
  $scope.cancel2 = function(){
    data = ['Segur@ que no desea guardar cambios?'];
    modalConfirm.conf($scope.giveScope(), data, true).then(function(response){
      if(response){
        $scope.edit2 = !$scope.edit2;
        $scope.add2 = false;
        $scope.modeloLista2 = null;
      }
    });
  }
  $scope.update2 = function(){
    $scope.lista3 = {};
    if($scope.modeloLista2 != null){
      $http({
        url: '/alllevels',
        method: 'GET',
        params: {subcompetencia: $scope.modeloLista2.sco_clave_subcompetencia}
      })
      .success(function(data){
        if(!data.text){
          $scope.lista3 = data;
        }else{
          $scope.lista3 = {};
        }
      });
    }    
  }
  $scope.addelem3 = function(){
    $scope.modeloLista3 = {};
  }
  $scope.form3 = function(){
    add = false;
    if($scope.add3 && $scope.edit3){
      add = true;
    }else{
      add = false;
    }
    $http({
      url: '/updatelevel',
      method: 'GET',
      params: {nivel: $scope.modeloLista3, subcompetencia: $scope.modeloLista2.sco_clave_subcompetencia, type_trans: add}
    })
    .success(function(data){
      modalConfirm.conf($scope.giveScope(), data, false).then(function(){
        $scope.edit3 = !$scope.edit3;
        $scope.add3 = false;
        $scope.modeloLista3 = null;
        $scope.update2();
      });
    });
  }
  $scope.delelem3 = function(event){
    if(event.ctrlKey){
      data = ['Esta seguro@ que desea borrar todos los niveles para esta subcompetencia? Una vez confirmado no podra volver a recuperarlos!'];
      modalConfirm.conf($scope.giveScope(), data, true).then(function(response){
        if(response){
          $http({
            url: '/masivedellevel',
            method: 'GET',
            params: {subcompetencia: $scope.modeloLista2}
          })
          .success(function(data){
            modalConfirm.conf($scope.giveScope(), data, false).then(function(){
              $scope.update2();
            });
          });
        }
      });
    }else{
      data = ['Segur@ que desea borrar el registro'];
      modalConfirm.conf($scope.giveScope(), data, true).then(function(response){
        if(response){
          $http({
            url: '/dellevel',
            method: 'GET',
            params: {subcompetencia: $scope.modeloLista2.sco_clave_subcompetencia, nivel: $scope.modeloLista3.niv_nivel}
          })
          .success(function(data){
            modalConfirm.conf($scope.giveScope(), data, false).then(function(){
              $scope.update2();
            });
          });
        }
      });
    }
  }
  $scope.cancel3 = function(){
    data = ['Segur@ que no desea guardar cambios?'];
    modalConfirm.conf($scope.giveScope(), data, true).then(function(response){
      if(response){
        $scope.edit3 = !$scope.edit3;
        $scope.add3 = false;
        $scope.modeloLista3 = null;
      }
    });
  }
  $scope.addSpaces = function(str){
    if(str){
      str1 = str.toString();
      rest = 11 - str1.length;
      for(i=0;i<rest;i++){
        str1 = str1 + String.fromCharCode(8194);
      }
      return str1;
    }
  }
  $scope.refreshView();
}]);
/*   TERMINA CONTROLADOR DE COMPETENCIAS   */

/*   INICIA CONTROLADOR DE MATERIAS   */
myApp.controller('materias', ['$scope', '$http', 'getUrl', 'modalConfirm', function ($scope, $http, getUrl, modalConfirm){
  $scope.lista2 = [];
  $scope.program = [ {"value": "P1", "text": "Preparatoria"}, {"value": "P2", "text": "Profesional"}, {"value": "P3", "text": "PGIT"}, {"value": "P4", "text": "PGADE"}, {"value": "P5", "text": "GMBA"}, {"value": "P6", "text": "EGEHCS"} ];
  $scope.period = [ {"value": "E11", "text": "Enero semestral"}, {"value": "E13", "text": "Agosto semestral"}, {"value": "E12", "text": "Verano semestral"}, {"value": "E21", "text": "Enero trimestral"}, {"value": "E22", "text": "Abril trimestral"}, {"value": "E23", "text": "Verano trimestral"}, {"value": "E24", "text":"Septiembre trimestral" } ];
  $scope.year = [];
  d = new Date();
  y = d.getFullYear();
  for(i=2015;i<=y+4;i++){
    $scope.year.push(i);
  }
  $scope.refreshView = function(){
    getUrl.getHTML('/allsubjects').then(function(response){
      $scope.lista1 = response.data;
    });
  }
  $scope.addelem1 = function(){
    $scope.modeloLista1 = {};
  }
  $scope.form1 = function(){
    add = false;
    if($scope.add1 && $scope.edit1){
      add = true;
    }else{
      add = false;
    }
    $http({
      url: '/updatesubject',
      method: 'GET',
      params: {materia: $scope.modeloLista1, type_trans: add}
    })
    .success(function(data){
      modalConfirm.conf($scope.giveScope(), data, false).then(function(){
        $scope.edit1 = !$scope.edit1;
        $scope.add1 = false;
        $scope.modeloLista1 = null;
        $scope.lista1 = null;
        $scope.refreshView();
        $scope.update1();
      });
    });
  }
  $scope.delelem1 = function(){
    data = ['Segur@ que desea borrar la materia'];
    modalConfirm.conf($scope.giveScope(), data, true).then(function(response){
      if(response){
        $http({
          url: '/delsubject',
          method: 'GET',
          params: {materia: $scope.modeloLista1.mat_clave_materia}
        })
        .success(function(data){
          modalConfirm.conf($scope.giveScope(), data, false).then(function(){
            $scope.refreshView();
          });
        });
      }
    });
  }
  $scope.cancel1 = function(){
    data = ['Segur@ que no desea guardar cambios?'];
    modalConfirm.conf($scope.giveScope(), data, true).then(function(response){
      if(response){
        $scope.edit1 = !$scope.edit1;
        $scope.add1 = false;
        $scope.modeloLista1 = null;
      }
    });
  }
  $scope.update1 = function(){
    clave_materia = null;
    if($scope.modeloLista1){
      clave_materia = $scope.modeloLista1.mat_clave_materia;
    }
    $http({
      url: '/allsubjectperiod',
      method: 'GET',
      params: {program: $scope.program_selected, period: $scope.period_selected, year: $scope.year_selected, subject: clave_materia}
    })
    .success(function(data){
      $scope.lista2 = [];
      for(i=0;i<data.length;i++){
        $scope.lista2.push(data[i]);
      }
    });
  }
  $scope.addSubject1 = function(){
    flag = false;
    for(i=0;i<$scope.lista2.length;i++){
      if(angular.equals($scope.lista2[i], $scope.modeloLista1)){
        flag = true;
      }
    }
    if(flag == false){
      $scope.lista2.push($scope.modeloLista1);
      $scope.add2 = true;
    }
  }
  $scope.delSubject1 = function(){
    index = $('#lista2')[0].selectedIndex;
    $scope.lista2.splice(index-1, 1);
    $scope.add2 = true;
  }
  $scope.form2 = function(){
    period = $scope.program_selected+"."+$scope.period_selected+"."+$scope.year_selected;
    $http({
      url: '/updatesubjectperiod',
      method: 'GET',
      params: {materiaperiodo: JSON.stringify($scope.lista2), periodo: period}
    })
    .success(function(data){
      $scope.add1 = false;
      modalConfirm.conf($scope.giveScope(), data, false).then(function(){
        $scope.add2 = false;
        $scope.modeloLista1 = null;
        $scope.lista1 = null;
        $scope.refreshView();
      });
    });
  }
  $scope.cancel2 = function(){
    data = ["Seguro que no desea guardar cambios?"]
    modalConfirm.conf($scope.giveScope(), data, true).then(function(response){
      if(response){
        $scope.add2 = false;
        $scope.refreshView();
        $scope.update1();
      }
    });
  }
  $scope.addSpaces = function(str){
    if(str){
      str1 = str.toString();
      rest = 11 - str1.length;
      for(i=0;i<rest;i++){
        str1 = str1 + String.fromCharCode(8194);
      }
      return str1;
    }
  }
  $scope.refreshView();
}]);
/*   TERMINA CONTROLADOR DE MATERIAS   */

/*   INICIA CONTROLADOR DE PERIODOS Y MATERIAS   */
myApp.controller('matprofalu', ['$scope', '$http', 'getUrl', 'modalConfirm', function ($scope, $http, getUrl, modalConfirm){
  lista6 = {items:[]};
  $scope.update = true;
  $scope.program = [ {"value": "P1", "text": "Preparatoria"}, {"value": "P2", "text": "Profesional"}, {"value": "P3", "text": "PGIT"}, {"value": "P4", "text": "PGADE"}, {"value": "P5", "text": "GMBA"}, {"value": "P6", "text": "EGEHCS"} ];
  $scope.period = [ {"value": "E11", "text": "Enero semestral"}, {"value": "E13", "text": "Agosto semestral"}, {"value": "E12", "text": "Verano semestral"}, {"value": "E21", "text": "Enero trimestral"}, {"value": "E22", "text": "Abril trimestral"}, {"value": "E23", "text": "Verano trimestral"}, {"value": "E24", "text":"Septiembre trimestral" } ];
  $scope.year = [];
  d = new Date();
  y = d.getFullYear();
  for(i=2015;i<=y+4;i++){
    $scope.year.push(i);
  }
  $scope.refreshView = function(){
    getUrl.getHTML('/allteachandstud').then(function(response){
      $scope.lista2 = response.data.teachers;
      $scope.lista4 = response.data.students;
    });
  }
  $scope.update1 = function(){
    if(!$scope.program_selected || !$scope.period_selected || !$scope.year_selected){
      delete $scope.lista1;
    }
    if($scope.program_selected && $scope.period_selected && $scope.year_selected){
      $http({
        url: '/allsubjectperiod',
        method: 'GET',
        params: {program: $scope.program_selected, period: $scope.period_selected, year: $scope.year_selected}
      })
      .success(function(data){
        if(data.length){
          $scope.lista1 = [];
          for(i=0;i<data.length;i++){
            $scope.lista1.push(data[i]);
          }
        }else{
          delete $scope.lista1;
        }
      });
    }
  }
  $scope.update2 = function(){
    if(!$scope.modeloLista1){
      delete $scope.lista3;
      delete $scope.lista5;
      $scope.refreshView();
    }
    if($scope.modeloLista1){
      periodo = $scope.program_selected + "." + $scope.period_selected + "." + $scope.year_selected;
      $http({
        url: '/teacherandstudentsfromcourse',
        method: 'GET',
        params: {period: periodo, course: $scope.modeloLista1.mat_clave_materia}
      })
      .success(function(data){
        lista6 = data;
        $scope.lista3 = [];
        for(i=0;i<data.items.length;i++){
          for(j=0;j<$scope.lista2.length;j++){
            if($scope.lista2[j].pro_nomina == data.items[i].profesor){
              $scope.lista3.push($scope.lista2[j]);
              $scope.lista2.splice(j, 1);
            }
          }
          for(j=0;j<data.items[i].alumnos.length;j++){
            for(k=0;k<$scope.lista4.length;k++){
              if($scope.lista4[k].alu_matricula == data.items[i].alumnos[j].alu_matricula){
                $scope.lista4.splice(k, 1);
              }
            }
          }          
        }
      });
    }
  }
  $scope.update3 = function(){
    if(typeof($scope.lista3) != "undefined"){
      for(i=0;i<$scope.lista3.length;i++){
        if(angular.equals($scope.lista3[i], $scope.modeloLista3) && typeof(lista6.items[i].alumnos) != "undefined"){
          $scope.lista5 = lista6.items[i].alumnos;
          break;
        }else{
          delete $scope.lista5;
        }
      }
    }
  }
  $scope.addSubject1 = function(){
    $scope.update = false;
    flag = false;
    for(i=0;i<$scope.lista3.length;i++){
      if(angular.equals($scope.lista3[i], $scope.modeloLista2)){
        flag = true;
      }
    }
    if(flag == false){
      $scope.lista3.push($scope.modeloLista2);
      nomina = $scope.modeloLista2.pro_nomina;
      lista6.items.push({profesor: nomina});
      index = $('#lista2')[0].selectedIndex;
      $scope.lista2.splice(index-1, 1);
    }
  }
  $scope.delSubject1 = function(){
    $scope.update = false;
    for(i=0;i<lista6.items.length;i++){
      if(lista6.items[i].profesor === $scope.modeloLista3.pro_nomina){
        $scope.lista2.push($scope.modeloLista3);
        lista6.items.splice(i,1);
        index = $('#lista3')[0].selectedIndex;
        $scope.lista3.splice(index-1, 1);
      }
    }
    while($scope.lista5.length){
      $scope.lista4.push($scope.lista5[0]);
      $scope.lista5.splice(0, 1);
    }
  }
  $scope.addSubject2 = function(){
    students = [];
    for(i=0;i<lista6.items.length;i++){
      if(lista6.items[i].profesor === $scope.modeloLista3.pro_nomina){
        if(typeof(lista6.items[i].alumnos) != "undefined"){
          students = lista6.items[i].alumnos;
        }
        students.push($scope.modeloLista4);
        nomina = $scope.modeloLista3.pro_nomina;
        lista6.items[i] = {profesor: nomina, alumnos: students};
        $scope.lista5 = students;
        index = $('#lista4')[0].selectedIndex;
        $scope.lista4.splice(index-1, 1);
      }
    }
  }
  $scope.delSubject2 = function(){
    for(i=0;i<lista6.items.length;i++){
      if(lista6.items[i].profesor === $scope.modeloLista3.pro_nomina){
        for(j=0;j<lista6.items[i].alumnos.length;j++){
          if(lista6.items[i].alumnos[j].alu_matricula === $scope.modeloLista5.alu_matricula){
            $scope.lista4.push($scope.modeloLista5);
            lista6.items[i].alumnos.splice(j,1);
            index = $('#lista5')[0].selectedIndex;
            $scope.lista5.splice(index-1, 1);
          }
        }
      }
    }
  }
  $scope.cancel1 = function(){
    myDDL = $('#lista1');
    myDDL[0].selectedIndex = 0;
    delete $scope.modeloLista1;
    $scope.lista3 = [];
    $scope.lista5 = [];
    lista6 = {items:[]};
    $scope.update = true;
    $scope.refreshView();
  }
  $scope.form1 = function(){
    for(i=0;i<lista6.items.length;i++){
      if(typeof(lista6.items[i].alumnos) == "undefined"){
        $scope.lista3.splice(i,1);
        lista6.items.splice(i,1);
        i--;
      }
    }
    periodo = $scope.program_selected + "." + $scope.period_selected + "." + $scope.year_selected;
    $http({
      url: '/updatepeoplecourse',
      method: 'GET',
      params: {period: periodo, course: $scope.modeloLista1.mat_clave_materia, people: lista6}
    })
    .success(function(data){
      modalConfirm.conf($scope.giveScope(), data, false).then(function(){
        $scope.update2();
      });
    });
  }
  $scope.addSpaces = function(str){
    if(str){
      str1 = str.toString();
      rest = 11 - str1.length;
      for(i=0;i<rest;i++){
        str1 = str1 + String.fromCharCode(8194);
      }
      return str1;
    }
  }
  $scope.refreshView();
}]);
/*   TERMINA CONTROLADOR DE PERIODOS Y MATERIAS   */

/*   INICIA CONTROLADOR DE PERFIL EXPERTO   */
myApp.controller('perfilexperto', ['$scope', '$http', 'getUrl', 'modalConfirm', function ($scope, $http, getUrl, modalConfirm){  
  $scope.update = true;
  $scope.selected = {};
  $scope.lista4 = []; // BORRARRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRR
  $scope.program = [ {"value": "P1", "text": "Preparatoria"}, {"value": "P2", "text": "Profesional"}, {"value": "P3", "text": "PGIT"}, {"value": "P4", "text": "PGADE"}, {"value": "P5", "text": "GMBA"}, {"value": "P6", "text": "EGEHCS"} ];
  $scope.period = [ {"value": "E11", "text": "Enero semestral"}, {"value": "E13", "text": "Agosto semestral"}, {"value": "E12", "text": "Verano semestral"}, {"value": "E21", "text": "Enero trimestral"}, {"value": "E22", "text": "Abril trimestral"}, {"value": "E23", "text": "Verano trimestral"}, {"value": "E24", "text":"Septiembre trimestral" } ];
  $scope.year = [];
  period = "";
  cla_per = "";
  d = new Date();
  y = d.getFullYear();
  for(i=2015;i<=y+4;i++){
    $scope.year.push(i);
  }
  $scope.refreshView = function(){
    getUrl.getHTML('/categories').then(function(response){
      $scope.lista3 = response.data;
    });
    getUrl.getHTML('/allsubcompetences').then(function(response){
      $scope.lista2 = response.data;
    });
  }
  $scope.update1 = function(){
    if(!$scope.program_selected || !$scope.period_selected || !$scope.year_selected){
      delete $scope.lista1;
    }
    if($scope.program_selected && $scope.period_selected && $scope.year_selected){
      $http({
        url: '/allsubjectperiod',
        method: 'GET',
        params: {program: $scope.program_selected, period: $scope.period_selected, year: $scope.year_selected}
      })
      .success(function(data){
        if(data.length){
          $scope.lista1 = [];
          for(i=0;i<data.length;i++){
            $scope.lista1.push(data[i]);
          }
        }else{
          delete $scope.lista1;
        }
      });
    }
  }
  $scope.update2 = function(){
    if($scope.modeloLista1 != null){
      period = $scope.program_selected + "." + $scope.period_selected + "." + $scope.year_selected;
      $http({
        url: '/getclaperiod',
        method: 'GET',
        params: {periodo: period, cla_mat: $scope.modeloLista1.mat_clave_materia}
      })
      .success(function(data){
        cla_per = data;
        $http({
          url: '/getmaxprofiles',
          method: 'GET',
          params: {clave: cla_per}
        })
        .success(function(data){
          if(data.length){
            for(i=0;i<data.length;i++){
              for(j=0;j<$scope.lista2.length;j++){
                if(data[i].pem_clave_subcompetencia === $scope.lista2[j].sco_clave_subcompetencia){
                  $scope.lista4.push($scope.lista2[j]);
                  $scope.lista4[$scope.lista4.length-1]['pem_nivel_requerido'] = data[i].pem_nivel_requerido;
                  $scope.lista2.splice(j,1);
                  j++;
                }
              }
            }
          }
        });
      });
    }else{
      while($scope.lista4.length){
        $scope.lista4.splice(0, 1);
      }
      $scope.refreshView();
    }
  }
  $scope.update3 = function(data){
    arr = [];
    for(i in $scope.selected){
      if($scope.selected[i] == true){
        arr.push(i);
      }
    }
    while($scope.lista2.length){
      $scope.lista2.splice(0, 1);
    }
    $http({
      url: '/filtersubcompetences',
      method: 'GET',
      params: {taxs: arr}
    })
    .success(function(data){
      if(data.length){
        for(i=0;i<data.length;i++){
          for(j=0;j<$scope.lista4.length;j++){
            if(data[i].sco_clave_subcompetencia != $scope.lista4[j].sco_clave_subcompetencia){
              $scope.lista2.push(data[i]);
            }
          }
        }
      }else{
        while($scope.lista2.length){
          $scope.lista2.splice(0, 1);
        }
      }
    });
  }
  $scope.update4 = function(data){
    if($scope.modeloLista4){
      $http({
        url: '/alllevels',
        method: 'GET',
        params: {subcompetencia: $scope.modeloLista4.sco_clave_subcompetencia}
      })
      .success(function(data){
        if(data.length){
           $scope.lista5 = data;
           $scope.niv_max = $scope.modeloLista4.pem_nivel_requerido;
        }
      });
    }else{
      delete $scope.lista5;
    }
  }
  $scope.update5 = function(){
    for(i=0;i<$scope.lista4.length;i++){
      if(angular.equals($scope.lista4[i], $scope.modeloLista4)){
        $scope.lista4[i].pem_nivel_requerido = $scope.niv_max;
      }
    }
  }
  $scope.addSubject1 = function(){
    $scope.update = false;
    flag = false;
    for(i=0;i<$scope.lista4.length;i++){
      if(angular.equals($scope.lista4[i], $scope.modeloLista2)){
        flag = true;
      }
    }
    if(flag == false){
      $scope.lista4.push($scope.modeloLista2);
      index = $('#lista2')[0].selectedIndex;
      $scope.lista2.splice(index-1, 1);
    }
  }
  $scope.delSubject1 = function(){
    $scope.update = false;
    for(i=0;i<$scope.lista4.length;i++){
      if($scope.lista4[i].sco_clave_subcompetencia === $scope.modeloLista4.sco_clave_subcompetencia){
        if($scope.lista2){
          $scope.lista2.push($scope.modeloLista4);
        }else{
          $scope.lista2 = [$scope.modeloLista4];
        }
        $scope.lista4.splice(i,1);
      }
    }
  }
  $scope.form1 = function(){
    $scope.lista6 = {items:[]};
    for(i=0;i<$scope.lista4.length;i++){
      if(typeof($scope.lista4[i].pem_nivel_requerido) != "undefined"){
        $scope.lista6.items.push($scope.lista4[i]);
      }else{
        data = ['Falta declarar el nivel de una o mas subcompetencias para poder guardar la información'];
        modalConfirm.conf($scope.giveScope(), data, false).then(function(response){});
        return;
      }
    }
    $http({
      url: '/updateexpertprofile',
      method: 'GET',
      params: {periodo: cla_per, sco_claves_sub: $scope.lista6}
    })
    .success(function(data){
      if(data.length){
        modalConfirm.conf($scope.giveScope(), data, false).then(function(response){});
      }
    });
  }
  $scope.cancel1 = function(){
    $scope.update = true;
    delete $scope.modeloLista1;
    $scope.update2();
  }
  $scope.addSpaces = function(str){
    if(str){
      str1 = str.toString();
      rest = 11 - str1.length;
      for(i=0;i<rest;i++){
        str1 = str1 + String.fromCharCode(8194);
      }
      return str1;
    }
  }
  $scope.refreshView();
}]);
/*   TERMINA CONTROLADOR DE PERFIL EXPERTO   */






















/*   INICIA CONTROLADOR DE PERFIL EXPERTO   */
myApp.controller('actividades', ['$scope', '$http', 'getUrl', 'modalConfirm', function ($scope, $http, getUrl, modalConfirm){
  $scope.update = true;
  $scope.program = [ {"value": "P1", "text": "Preparatoria"}, {"value": "P2", "text": "Profesional"}, {"value": "P3", "text": "PGIT"}, {"value": "P4", "text": "PGADE"}, {"value": "P5", "text": "GMBA"}, {"value": "P6", "text": "EGEHCS"} ];
  $scope.period = [ {"value": "E11", "text": "Enero semestral"}, {"value": "E13", "text": "Agosto semestral"}, {"value": "E12", "text": "Verano semestral"}, {"value": "E21", "text": "Enero trimestral"}, {"value": "E22", "text": "Abril trimestral"}, {"value": "E23", "text": "Verano trimestral"}, {"value": "E24", "text":"Septiembre trimestral" } ];
  $scope.year = [];
  period = "";
  cla_per = "";
  d = new Date();
  y = d.getFullYear();
  for(i=2015;i<=y+4;i++){
    $scope.year.push(i);
  }
  $scope.refreshView = function(){
    
  }
  $scope.addelem1 = function(){
    $scope.modeloLista2 = {};
  }
  $scope.delelem1 = function(){
    data = ['Segur@ que desea borrar el registro'];
    modalConfirm.conf($scope.giveScope(), data, true).then(function(response){
      if(response){
        $http({
          url: '/delactivity',
          method: 'GET',
          params: {actividad: $scope.modeloLista2}
        })
        .success(function(data){
          modalConfirm.conf($scope.giveScope(), data, false).then(function(){
            $scope.update2();
          });
        });
      }
    });
  }
  $scope.update1 = function(){
    if(!$scope.program_selected || !$scope.period_selected || !$scope.year_selected){
      delete $scope.lista1;
    }
    if($scope.program_selected && $scope.period_selected && $scope.year_selected){
      $http({
        url: '/allsubjectperiod',
        method: 'GET',
        params: {program: $scope.program_selected, period: $scope.period_selected, year: $scope.year_selected}
      })
      .success(function(data){
        if(data.length){
          $scope.lista1 = [];
          for(i=0;i<data.length;i++){
            $scope.lista1.push(data[i]);
          }
        }else{
          delete $scope.lista1;
        }
      });
    }
  }
  $scope.update2 = function(){
    if($scope.modeloLista1 != null){
      period = $scope.program_selected + "." + $scope.period_selected + "." + $scope.year_selected;
      $http({
        url: '/getclaperiod',
        method: 'GET',
        params: {periodo: period, cla_mat: $scope.modeloLista1.mat_clave_materia}
      })
      .success(function(data){
        cla_per = data;
        $http({
          url: '/getactivities',
          method: 'GET',
          params: {clave: cla_per}
        })
        .success(function(data){
          if(data.length){
            $scope.lista2 = data;
          }
          /*if(data.length){
            for(i=0;i<data.length;i++){
              for(j=0;j<$scope.lista2.length;j++){
                if(data[i].pem_clave_subcompetencia === $scope.lista2[j].sco_clave_subcompetencia){
                  $scope.lista4.push($scope.lista2[j]);
                  $scope.lista4[$scope.lista4.length-1]['pem_nivel_requerido'] = data[i].pem_nivel_requerido;
                  $scope.lista2.splice(j,1);
                  j++;
                }
              }
            }
          }*/
        });
      });
    }/*else{
      while($scope.lista4.length){
        $scope.lista4.splice(0, 1);
      }
      $scope.refreshView();
    }*/
  }
  $scope.cancel1 = function(){
    data = ['Segur@ que no desea guardar cambios?'];
    modalConfirm.conf($scope.giveScope(), data, true).then(function(response){
      if(response){
        $scope.edit1 = !$scope.edit1;
        $scope.add1 = false;
        $scope.modeloLista2 = null;
      }
    });
  }
  $scope.form1 = function(){
    add = false;
    if($scope.add1 && $scope.edit1){
      add = true;
    }else{
      add = false;
    }
    $http({
      url: '/updateactivity',
      method: 'GET',
      params: {clave: cla_per, nombre: $scope.modeloLista2.act_nombre, type_trans: add}
    })
    .success(function(data){
      modalConfirm.conf($scope.giveScope(), data, false).then(function(){
        $scope.edit1 = !$scope.edit1;
        $scope.add1 = false;
        $scope.update2();
      });
    });
  }
  $scope.addSpaces = function(str){
    if(str){
      str1 = str.toString();
      rest = 11 - str1.length;
      for(i=0;i<rest;i++){
        str1 = str1 + String.fromCharCode(8194);
      }
      return str1;
    }
  }
  $scope.refreshView();
}]);
/*   TERMINA CONTROLADOR DE PERFIL EXPERTO   */




















/*   INICIA CONTROLADOR DE PROFESORES   */
myApp.controller('profesores', ['$scope', '$http', 'getUrl', 'modalConfirm', function ($scope, $http, getUrl, modalConfirm){
  $scope.refreshView = function(){
    getUrl.getHTML('/allprofesor').then(function(response){
      $scope.lista1 = response.data;
    });
  }  
  $scope.cancel1 = function(){
    data = ['Segur@ que no desea guardar cambios?'];
    modalConfirm.conf($scope.giveScope(), data, true).then(function(response){
      if(response){
        $scope.edit1 = !$scope.edit1;
        $scope.add1 = false;
        $scope.modeloLista1 = null;
      }
    });
  }
  $scope.addelem1 = function(){
    text = "";
    $scope.modeloLista1 = 0;
    possible = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789";
    for(i=0;i<15;i++){
      text += possible.charAt(Math.floor(Math.random() * possible.length));
    }
    setTimeout(function(){
      $scope.modeloLista1 = {pro_password: text};
    },500);
  }
  $scope.delelem1 = function(){
    data = ['Segur@ que desea borrar el registro'];
    modalConfirm.conf($scope.giveScope(), data, true).then(function(response){
      if(response){
        $http({
          url: '/delprofesor',
          method: 'GET',
          params: {profesor: $scope.modeloLista1.pro_nomina}
        })
        .success(function(data){
          modalConfirm.conf($scope.giveScope(), data, false).then(function(){
            $scope.refreshView();
          });
        });
      }
    });
  }
  $scope.form1 = function(){
    $http({
      url: '/updateprofesor',
      method: 'GET',
      params: {profesor: $scope.modeloLista1}
    })
    .success(function(data){
      modalConfirm.conf($scope.giveScope(), data, false).then(function(){
        $scope.edit1 = !$scope.edit1;
        $scope.add1 = false;
        $scope.modeloLista1 = null;
        $scope.refreshView();
      });
    });
  }
  $scope.refreshView();
}]);
/*   TERMINA CONTROLADOR DE PROFESORES   */

/*   INICIA CONTROLADOR DE ALUMNOS   */
myApp.controller('alumnos', ['$scope', '$http', 'getUrl', 'modalConfirm', function ($scope, $http, getUrl, modalConfirm){
  $scope.refreshView = function(){
    getUrl.getHTML('/allstudent').then(function(response){
      $scope.lista1 = response.data;
    });
  }  
  $scope.cancel1 = function(){
    data = ['Segur@ que no desea guardar cambios?'];
    modalConfirm.conf($scope.giveScope(), data, true).then(function(response){
      if(response){
        $scope.edit1 = !$scope.edit1;
        $scope.add1 = false;
        $scope.modeloLista1 = null;
      }
    });
  }
  $scope.addelem1 = function(){
    text = "";
    $scope.modeloLista1 = 0;
    possible = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789";
    for(i=0;i<15;i++){
      text += possible.charAt(Math.floor(Math.random() * possible.length));
    }
    setTimeout(function(){
      $scope.modeloLista1 = {alu_password: text};
    },500);
  }
  $scope.delelem1 = function(){
    data = ['Segur@ que desea borrar el registro'];
    modalConfirm.conf($scope.giveScope(), data, true).then(function(response){
      if(response){
        $http({
          url: '/delstudent',
          method: 'GET',
          params: {alumno: $scope.modeloLista1.alu_matricula}
        })
        .success(function(data){
          modalConfirm.conf($scope.giveScope(), data, false).then(function(){
            $scope.refreshView();
          });
        });
      }
    });
  }
  $scope.form1 = function(){
    add = false;
    if($scope.add1 && $scope.edit1){
      add = true;
    }else{
      add = false;
    }
    $http({
      url: '/updatestudent',
      method: 'GET',
      params: {alumno: $scope.modeloLista1, type_trans: add}
    })
    .success(function(data){
      modalConfirm.conf($scope.giveScope(), data, false).then(function(){
        $scope.edit1 = !$scope.edit1;
        $scope.add1 = false;
        $scope.modeloLista1 = null;
        $scope.refreshView();
      });
    });
  }
  $scope.refreshView();
}]);
/*   TERMINA CONTROLADOR DE ALUMNOS   */






$(document).on('click', '#toLoad', function(){
  $('#file').click();
});

$(document).on('change', '#file', function(){
  $('.nombre_archivo > span').html($(this).val());
})



</script>

</html>