<div id="materias" ng-controller="materias">
	<h2>Materias y periodos</h2>
	<div>
		<div class="instrucciones">
			<div ng-show="!add1 && !edit">A continuación se muestra una lista de todos los alumnos registrados en el sistema. Para dar de alta, de clic en 'Añadir alumno' en la parte superior de la lista. Para editar o borrar un alumno, primero seleccionar un alumno de la lista y dar clic en 'Editar alumno' o 'Borrar alumno' en la parte superior de la lista.</div>
			<div ng-show="add1">Para dar de alta un nuevo alumno en el sistema favor de llenar todos los campos que se muestran a continuación sin faltar ninguno. Para su comodidad el sistema genera una contraseña aleatoriamente pero usted puede modificarla si así lo desea. Esta contraseña es con la que el alumno accessara al sistema, por lo que no olvide compartirsela una vez que la defina.</div>
			<div ng-show="!add1 && edit">Para editar la información de un alumno, modifique los datos en los campos siguientes. La nómina no se puede modificar, por lo que si desea modificarla tendra que borrar el registro y hacerlo otra vez. No olvide guardar los cambios con el boton aceptar una vez concluya las modificaciones.</div>
		</div>
		<div class="admin_control first">
			<div class="panel_list">
				<b>Edición de materias</b>
				<div class="buttons_list">
					<button class="btn_add" alt="Añadir materia" title="Añadir materia" ng-click="edit1 = !edit1; add1 = !add1; addelem1()" ng-disabled="edit1 || edit2">+</button>
					<button class="btn_edi" alt="Editar materia" title="Editar materia" ng-disabled="!modeloLista1 || edit1 || edit2" ng-click="edit1 = !edit1"><img src="/img/edit.png"></button>
					<button class="btn_del" alt="Borrar materia" title="Borrar materia" ng-disabled="!modeloLista1 || edit1 || edit2" ng-click="delelem1()">x</button>
				</div>
				<div class="list">
					<select id="lista1" size="15" ng-model="modeloLista1" ng-options="(addSpaces(item.mat_clave_materia) + item.mat_nombre_materia) for item in lista1 track by item.mat_clave_materia" ng-disabled="edit1 || edit2">
						<option value=""></option>
					</select>
				</div>
			</div>
			<form ng-submit="form1()"  ng-disabled="!edit1">
				<div class="details">
					<p>Clave:</p><input type="text" ng-model="modeloLista1.mat_clave_materia" ng-readonly="!add1" ng-disabled="!add1" maxlength="10" required>
					<p>Nombre:</p><input type="text" ng-model="modeloLista1.mat_nombre_materia" ng-readonly="!edit1" required>
					<p>Nivel académico:</p>
					<select class="sublistaDetalle" ng-model="modeloLista1.mat_nivel_academico" ng-disabled="!edit1" required>
						<option value=""></option>
						<option value="Doctorado">Doctorado</option>
						<option value="Maestría">Maestría</option>
						<option value="Profesional">Profesional</option>
						<option value="Preparatoria">Preparatoria</option>
					</select>
					<button title="Guardar cambios" alt="Guardar cambios" ng-disabled="!edit1"><img src="/img/accept.png"></button>
					<button type="button" title="Cancelar" alt="Cancelar" ng-disabled="!edit1" ng-click="cancel1()"><img src="/img/cancel.png"></button>
				</div>
			</form>
		</div>
		<div class="admin_control">
			<button title="Remover materia a periodo" alt="Remover materia a periodo" ng-disabled="!modeloLista2 || !program_selected || !period_selected || !year_selected" ng-click="delSubject1()"><img src="/img/arrow_left.png"></button>
			<button title="Agregar materia a periodo" alt="Agregar materia a periodo" ng-disabled="!modeloLista1 || !program_selected || !period_selected || !year_selected" ng-click="addSubject1()"><img src="/img/arrow_right.png"></button>
		</div>
		<div class="admin_control">
			<div class="details" ng-disabled="add2">
				<b>Materias asignadas al:</b><br>
				<br>
				<p><b>Programa</b></p>
				<select class="sublistaDetalle" ng-model="program_selected" ng-options="item.value as item.text for item in program" ng-change="update1()" ng-disabled="add2">
					<option value=""></option>
				</select>
				<p><b>Periodo</b></p>
				<select class="sublistaDetalle" ng-model="period_selected" ng-options="item.value as item.text for item in period" ng-change="update1()" ng-disabled="add2">
					<option value=""></option>
				</select>
				<p><b>Año</b></p>
				<select class="sublistaDetalle" ng-model="year_selected" ng-options="('Y'+item) as item for item in year" ng-change="update1()" ng-disabled="add2">
					<option value=""></option>
				</select>
			</div>
		</div>
		<div class="admin_control">
			<div class="panel_list">
				<form ng-submit="form2()">					
					<div class="list">
						<select id="lista2" size="15" ng-model="modeloLista2" ng-options="(addSpaces(item.mat_clave_materia) + item.mat_nombre_materia) for item in lista2 track by item.mat_clave_materia">
							<option value=""></option>
						</select>
						<div class="details">
							<button title="Guardar cambios" alt="Guardar cambios" ng-disabled="!add2"><img src="/img/accept.png"></button>
							<button type="button" title="Cancelar" alt="Cancelar" ng-disabled="!add2" ng-click="cancel2()"><img src="/img/cancel.png"></button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>