<div id="menu_view" class="menu">

<section id="competencias"><div><a ng-click="goUrl('/competencias')"><br><br><br><br><br>Competencias y subcompetencias</a></div></section>
<section id="profesores"><div><a ng-click="goUrl('/profesores')"><br><br><br><br><br>Profesores</a></div></section>
<section id="materias"><div><a ng-click="goUrl('/materias')"><br><br><br><br><br>Materias</a></div></section>
<section id="alumnos"><div><a ng-click="goUrl('/alumnos')"><br><br><br><br><br>Alumnos</a></div></section>
<section id="matprofalu"><div><a ng-click="goUrl('/permatprofalu')"><br><br><br><br><br>Asignación</a></div></section>
<section id="actividades"><div><a ng-click="goUrl('/actividades')"><br><br><br><br><br>Actividades</a></div></section>
<section id="evaluaciones"><div><a ng-click="goUrl('/evaluaciones')"><br><br><br><br><br>Evaluaciones</a></div></section>
<section id="reportes"><div><a ng-click="goUrl('/reportes')"><br><br><br><br><br>Reportes</a></div></section>
</div>