<div id="menu_admin" class="menu">

<section><div><a ng-click="goUrl('/competencias')"><img src="/img/icono_conocimiento.png"><br><br>Competencias y subcompetencias</a></div></section>
<section><div><a ng-click="goUrl('/profesores')"><img src="/img/icono_profesor.png"><br><br>Profesores</a></div></section>
<section><div><a ng-click="goUrl('/materias')"><img src="/img/icono_materias.png"><br><br>Materias</a></div></section>
<section><div><a ng-click="goUrl('/alumnos')"><img src="/img/icono_alumnos.png"><br><br>Alumnos</a></div></section>
<section><div><a ng-click="goUrl('/permatprofalu')"><img src="/img/icono_asignacion.png"><br><br>Asignación</a></div></section>
<section><div><a ng-click="goUrl('/actividades')"><img src="/img/icono_actividades.png"><br><br>Actividades</a></div></section>
<section><div><a ng-click="goUrl('/evaluaciones')"><img src="/img/icono_evaluaciones.png"><br><br>Evaluaciones</a></div></section>
<section><div><a ng-click="goUrl('/reportes')"><img src="/img/icono_reportes.png"><br><br>Reportes</a></div></section>
</div>