<div id="menu_admin">

<section><div><a ng-click="goUrl('/competencias')"><img src="/img/comp.png"><br><br>Competencias y subcompetencias</a></div></section>
<section><div><a ng-click="goUrl('/profesores')"><img src="/img/profe.png"><br><br>Profesores</a></div></section>
<section><div><a ng-click="goUrl('/materias')"><img src="/img/mate.png"><br><br>Materias</a></div></section>
<section><div><a ng-click="goUrl('/alumnos')"><img src="/img/student.png"><br><br>Alumnos</a></div></section>
<section><div><a ng-click="goUrl('/permatprofalu')"><img src="/img/period.png"><br><br>Materias, profesores y alumnos</a></div></section>
<section><div><a><img src="/img/profile.png"><br><br>Perfil Experto</a></div></section>

</div>