<div id="profesores" ng-controller="profesores">
	<h2>Profesores</h2>
	<div>
		<div class="instrucciones">
			<div ng-show="!add1 && !edit1">En esta sección ingrese los datos de los profesores responsables de grupo que realizarán procesos de evaluación de desempeño. También debe ingresar el nombre del titular o profesor responsable o coordinador de la materia o asignatura. Puede utilizar la plantilla disponible para subir la información por <a href="files/profesores.csv" target="_blank" alt="Descargar archivo de ejemplo" title="Descargar archivo de ejemplo">archivo</a>.</div>
		</div>
		<div class="admin_control">
			<div class="panel_list">
				<div class="buttons_list">
					<button class="btn_add" alt="Añadir profesor" title="Añadir profesor" ng-click="edit1 = !edit1; add1 = !add1; addelem1()" ng-disabled="edit1">+</button>
					<button class="btn_edi" alt="Editar profesor" title="Editar profesor" ng-disabled="!modeloLista1 || edit1" ng-click="edit1 = !edit1"><img src="/img/edit.png"></button>
					<button class="btn_del" alt="Borrar profesor" title="Borrar profesor" ng-disabled="!modeloLista1 || edit1" ng-click="delelem1()">x</button>
				</div>
				<div class="list">
					<select id="lista1" size="15" ng-model="modeloLista1" ng-options="(item.pro_nombre + ' ' + item.pro_apellido_paterno + ' ' + item.pro_apellido_materno) for item in lista1 track by item.pro_nomina" ng-disabled="edit1">
						<option value=""></option>
					</select>
				</div>
				<button id="toLoad" class="btncancel">Examinar...</button>
				<div class="nombre_archivo"><b>Archivo seleccionado:</b> <span></span></div>
				<input path="/masiveprofesor" id="file" type="file" file-reader="fileReader">
				<button file-Reader-Btn="fileReaderBtn" path="/profesores" title="Subir archivo" alt="Subir archivo" ng-disabled="fileOn == undefined || fileOn == ''" class="btnsave">Subir archivo</button>
			</div>
			<form ng-submit="form1()" ng-disabled="!edit1" ng-show="edit1">
				<div class="details">
					<p>Nómina:</p><input type="text" ng-model="modeloLista1.pro_nomina" ng-readonly="!add1" ng-disabled="!add1" required>
					<p>Nombre:</p><input type="text" ng-model="modeloLista1.pro_nombre" ng-readonly="!edit1" required>
					<p>Apellido Paterno:</p><input type="text" ng-model="modeloLista1.pro_apellido_paterno" ng-readonly="!edit1" required>
					<p>Apellido Materno:</p><input type="text" ng-model="modeloLista1.pro_apellido_materno" ng-readonly="!edit1" required>
					<p>Contraseña:</p><input type="text" ng-model="modeloLista1.pro_password" ng-readonly="!edit1" required>
					<p>Tipo de usuario:</p>
					<select class="sublistaDetalle" ng-model="modeloLista1.pro_rol" ng-disabled="!edit1" required>
						<option value=""></option>
						<option value="Administrador">Administrador</option>
						<option value="Titular">Titular</option>
						<option value="Profesor">Profesor</option>
					</select>
					<button class="btnsave" title="Guardar cambios" alt="Guardar cambios" ng-disabled="!edit1">Guardar</button>
					<button class="btncancel" type="button" title="Cancelar" alt="Cancelar" ng-disabled="!edit1" ng-click="cancel1()">Cancelar</button>
				</div>
			</form>
		</div>
	</div>
</div>