<div id="reportes_alumno" ng-controller="reportes_alumno" class="menu">
	<h2>Reportes</h2>
	<div>
		<div class="instrucciones">
			<div ng-show="!add1 && !edit">Obtén el reporte de evaluación de desempeño que le entregarás o enviarás a tus estudiantes.</div>
		</div>
		<div class="panel_inline">
			<div class="inlflx">
				<div>
					<b ng-disabled="edit1">Programa</b>
					<select class="sublistaDetalle" ng-model="program_selected" ng-options="item as item.text for item in program" ng-change="update1()" ng-disabled="edit1">
						<option value=""></option>
					</select>
				</div>
				<div>
					<b ng-disabled="edit1">Periodo</b>
					<select class="sublistaDetalle" ng-model="period_selected" ng-options="item as item.text for item in period" ng-change="update1()" ng-disabled="edit1">
						<option value=""></option>
					</select>
				</div>
				<div>
					<b ng-disabled="edit1">Año</b>
					<select class="sublistaDetalle" ng-model="year_selected" ng-options="item as item for item in year" ng-change="update1()" ng-disabled="edit1">
						<option value=""></option>
					</select>
				</div>
				<div ng-show="lista1 && update">
					<b ng-disabled="!lista1 || edit1">Materia</b>
					<select id="lista1" ng-model="modeloLista1" ng-options="(addSpaces(item.mat_clave_materia) + item.mat_nombre_materia) for item in lista1 track by item.mat_clave_materia" ng-change="update2()" ng-disabled="!lista1 || edit1">
						<option value=""></option>
					</select>
				</div>
			</div>
		</div>
		<div class="panel_inline" ng-show="modeloLista1">
			<div class="admin_control">
				<div class="panel_list">
					<b>Actividades</b><br><br>
					<div ng-repeat="activity in lista2">
						{{activity.act_nombre}}<div class="btnrad btnrad2"><button class="btnsave" title="Ver evaluación" alt="Ver evaluación">Ver evaluación</button><input type="radio" ng-model="$parent.clavact" value={{activity.act_clave_actividad}} ng-change="update5(activity.act_nombre, $index)"></div>
					</div>
				</div>
			</div>
		</div>
		<div id="button_cmd" ng-show="clavact.length && modeloLista1 && lista3"><button class="btncancel" id="cmd" type="button" title="Imprimir pdf" alt="Imprimir pdf">Imprimir pdf</button></div>
		<div id="reporte" class="reporte" ng-show="clavact.length && modeloLista1 && lista3">
			<div class="details">
				<b>Evaluación Competere</b><br>
			</div>
			<div class="details">
				<b>Profesor: </b>{{profesor}} <b>Fecha:</b> {{fecha}} <b>Evaluación:</b> {{evaluacion}}
			</div>
			<div class="details">
				<b>Periodo: </b>{{period_selected.text + " " + year_selected}}				
			</div>
			<div class="details">
				<b>Alumno: </b>{{modeloLista2.alu_nombre + " " + modeloLista2.alu_apellido_paterno + " " + modeloLista2.alu_apellido_materno}}
			</div>
			<div class="details">
				<div><b>Comentario</b></div>
				{{comentary}}
			</div>			
			<div class="details">
				<div><b>Metas de aprendizaje</b></div>
				{{feedup}}
			</div>
			<div class="details">
				<div><b>¿Cómo lo estás haciendo?</b></div>
				{{feedback}}
			</div>
			<div class="details">
				<div><b>¿De que manera se conecta esta actividad con la siguiente(s)?</b></div>
				{{feedforward}}
			</div>			
			<div class="details">
				<div class="top_margen">
					<table ng-show="lista3" class="rubricas">
						<tr>
							<th><b>Clave subcompetencia</b></th>
							<th><b>Descripción subcompetencia</b></th>
							<th><b>Niveles</b></th>
							<th><b>Perfil Experto</b></th>
							<th><b>Evaluación</b></th>
							<th><b>Comentario</b></th>
						</tr>
						<tr ng-repeat="subcom in lista3">
							<td><p align="center">{{subcom.rows[0].niv_clave_subcompetencia}}</p></td>
							<td><p align="center">{{subcom.description}}</p></td>
							<td class="niveles"><table><tr><td ng-repeat="niveles in subcom.rows" ng-class="{'req_lev': subcom.level_required==niveles.niv_nivel, 'perf': subcom.level_required!=niveles.niv_nivel}"><p align="center">{{niveles.niv_descripcion}}</p></td></tr></table></td>
							<td><p align="center">{{subcom.level_required}}</p></td>
							<td><p align="center">{{subcom.level_assigned}}</p></td>
							<td><p align="center">{{subcom.comentary}}</p></td>
						</tr>
					</table>
					<div class="panel_inline inline_flex">
						<table ng-show="lista3" class="tabla_grafica">
							<tr>
								<td><b>Clave subcompetencia</b></td>
								<td><b>Descripción subcompetencia</b></td>
							</tr>
							<tr ng-repeat="subcom in lista3">
								<td>{{subcom.rows[0].niv_clave_subcompetencia}}</td>
								<td>{{subcom.description}}</td>
							</tr>
						</table>
						<canvas id="myChart" width="500" height="500" auto-legend></canvas>
						<div id="js-legend" class="chart-legend"></div>
						<canvas id="myReport"></canvas>
						<div id="imgcanplc"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>